// BACKGROUND COLORS

$bg-main-lt: #790069; //Main background light
$bg-main-dk: #2D0042; //Main background dark
$bg-content-main: #FFAF00; //Main content background
$bg-content-grdt: #FF920A; //Main content gradient background

//HIGHLIGHT COLORS

$hlt-main: #D73202; //Main highlight color
$hlt-second: #08C0C6; //Secondary highlight color

//TEXT COLORS

$txt-color-dk: #2D0042; //Dark text color
$txt-color-lt: #FFFFFF; //Light text color
$txt-color-fade: rgba(255, 255, 255, 0.7); //Light faded color