@use 'colors' as c;
@use 'fonts' as f;

// TEXT 
// MOBILE STYLES

//TITLE TEXT
@mixin section-title-mbl {
    font-family: f.$title-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.125rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin section-title-dsk {
    font-family: f.$title-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

//DARK TITLE TEXT
// @mixin section-title-mbl-dk {
//     font-family: f.$title-txt;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 2.5rem;
//     line-height: 3.125rem;
//     color: c.$txt-color-dk;
//     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

//LIGHT TITLE TEXT
// @mixin section-title-mbl-lt {
//     font-family: f.$title-txt;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 2.5rem;
//     line-height: 3.125rem;
//     color: c.$txt-color-lt;
//     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

//MAIN TEXT
@mixin main-txt-mbl {
    font-family: f.$main-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.625rem;
}

@mixin main-txt-dsk {
    font-family: f.$main-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

//DARK MAIN TEXT
@mixin main-txt-mbl-dk {
    font-family: f.$main-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: c.$txt-color-dk;
}

//LIGHT MAIN TEXT
@mixin main-txt-mbl-lt {
    font-family: f.$main-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: c.$txt-color-lt;
}

//BUTTON TEXT
@mixin btn-txt-mbl {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
}

//HIGHLIGHT TEXT
@mixin hlt-txt-mbl {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

@mixin hlt-txt-dsk {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

//FOOTER TITLE TEXT
@mixin footer-title-mbl {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

//FOOTER CONTENT TEXT
@mixin footer-txt-mbl {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
}

//COPYRIGHT TEXT
@mixin copy-txt-mbl {
    font-family: f.$hlt-txt;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    color: c.$txt-color-fade;
}


//UTILITIES

//CLEAR MARGINS AND PADDINGS
@mixin clear-mp {
    margin: 0;
    padding: 0;
}

//CENTER THE ELEMENT
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

//CENTERED FLEX
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}