@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;

.footer {
    color: c.$txt-color-lt;
    background-color: c.$bg-main-lt;
}

.footer__container {
    padding: 70px 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.footer__contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.footer__social-link {
    display: block;
    width: 30px;
    height: 30px;
    transition: transform .3s;
}

.footer__social-link:hover {
    transform: scale(1.2);
}

.footer__title {
    margin-top: 0;
    margin-bottom: 25px;
    @include footer-title-mbl;
}

.footer__list {
    @include footer-txt-mbl;
}

.footer__list-item {
    margin-bottom: 15px;
}

.footer__icon {
    margin-right: 10px;
}

.footer__map {
    width: 90%;
    height: 350px;
    margin: 50px auto 0;
}

.footer__map>iframe {
    width: 100%;
    height: 100%;
}

//TABLET WIDTH STYLES

@media (min-width: 768px) {

    .footer__container {
        padding: 80px 6.5% 70px;
    }

    .footer__content {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: start;
        text-align: start;
    }

    .footer__contact {
        order: 1;
    }

    .footer__contact-box {
        justify-content: start;
    }

    .footer__title {
        margin-bottom: 35px;
        @include footer-title-dsk;
    }

    .footer__list {
        @include footer-txt-dsk;
    }

    .footer__list-item {
        margin-bottom: 20px;
    }

    .footer__icon {
        width: 20px;
        margin-right: 15px;
    }

    .footer__social-links {
        width: 235px;
    }

    .footer__social-link {
        width: 40px;
        height: 40px;
    }

    .footer__logo {
        order: 2;
        flex-basis: 230px;
        margin: 0 190px 30px;
    }

    .footer__map {
        height: 200px;
        width: 100%;
    }
}

//DESKTOP WIDTH STYLES

@media (min-width: 1024px) {

    .footer__container {
        padding: 145px 6.5% 70px;
    }

    .footer__content {
        justify-content: space-between;
    }

    .footer__logo {
        margin: 0;
    }
}