@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;

.footer {
    color: c.$txt-color-lt;
    background-color: c.$bg-main-lt;
}

.footer__container {
    padding: 70px 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.footer__social-link {
    display: block;
    width: 30px;
    height: 30px;
}

.footer__social-icon {
    width: 100%;
}

.footer__title {
    margin-top: 0;
    margin-bottom: 25px;
    @include footer-title-mbl;
}

.footer__list {
    @include footer-txt-mbl;
}

.footer__list-item {
    margin-bottom: 15px;
}

.footer__icon {
    margin-right: 10px;
}

//DESKTOP WIDTH STYLES

@media (min-width: 601px) {

    .footer__container {
        padding: 145px 6.5% 70px;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: start;
    }

    .footer__title {
        margin-bottom: 35px;
        @include footer-title-dsk;
    }

    .footer__contact {
        order: 1;
    }

    .footer__list {
        @include footer-txt-dsk;
    }

    .footer__list-item {
        margin-bottom: 20px;
    }

    .footer__icon {
        margin-right: 15px;
    }

    .footer__social-links {
        width: 235px;
    }

    .footer__social-link {
        width: 40px;
        height: 40px;
    }

    .footer__logo {
        flex-basis: 230px;
        order: 2;
    }
}