@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;

.root-section {
    min-width: 300px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

// h2 {
//     @include clear-mp;
// }