@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;

.header {
    background-color: c.$bg-main-lt;
}

.header__container {
    position: relative;
    display: grid;
    grid-template: 83px 398px / 50% 50%;
    align-items: center;
    overflow: hidden;
}

.header__home {
    margin-left: 5vw;
}

.header__menu {
    justify-self: end;
    margin-right: 5vw;
}

.header__banner {
    grid-column-end: span 2;
    justify-self: center;
}

.header__social {
    position: absolute;
    bottom: 60px;
    left: 13%;
    width: 74%;
}

.header__social>ul {
    display: flex;
    justify-content: space-around;
}

.header__social-link {
    display: block;
    width: 25px;
    height: 25px;
}

.header__icon {
    width: 100%;
}