@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;


.landing-container,
.landing-intro {
    @include flex-center-vert;
    row-gap: 50px;
}

.landing-container {
    position: relative;
    padding-bottom: 80px;
}

// BLOCK STYLES

.block {
    width: 90%;
    padding: 40px 10%;
}

// The dark text color is inherited for this block
.block--light {
    background-color: c.$bg-content-main;
    color: c.$txt-color-dk;
}

.block--gradient {
    background-image: linear-gradient(c.$bg-content-main, c.$bg-content-grdt);
    color: c.$txt-color-dk;
}

.block--dark {
    color: c.$txt-color-lt;
    border: 2px solid c.$hlt-second;
}

section.block:last-of-type {
    padding-bottom: 120px; // The last block (blog) will always have a bigger padding-bottom to account for the graffiti sticker
}

.block--centered {
    text-align: center;
}

.block__menu-img,
.block__mic-img,
.sticky-container {
    display: none;
}

// SHOW STYLES

.block__shows {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 40px;
}

.block__show-link {
    //aspect ratio will not work in certain browsers, but the admin is aware and intends to upload images with 1:1 intrinsic ratio
    aspect-ratio: 1/1;
    line-height: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
    transition: transform .3s;
}

.block__show-img {
    aspect-ratio: 1/1; //to make it work it had to be added to both image and container
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.block__show-link:hover {
    transform: scale(1.05);
}

// IMAGES

.graffiti {
    position: absolute;
    transform: rotate(-5deg);
}

.graffiti--landing {
    left: 10px;
    bottom: -85px;
}

// BUTTON STYLES

.block__btn {
    z-index: 1; // to not get overlapped by graffiti sticker at the bottom
    @include flex-center;
    width: 200px;
    height: 56px;
    margin-top: 40px;
    @include center;
    @include hlt-txt-mbl;
}

.block__btn--hlt {
    background-color: c.$hlt-main;
    color: c.$txt-color-lt;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform .3s;
}

.block__btn--clear {
    border: 2px solid c.$bg-main-dk;
    color: c.$txt-color-dk;
    transition: background-color .2s, color .2s;
}

.block__btn--clear-dk {
    border: 2px solid c.$hlt-second;
    transition: background-color .2s, color .2s;
}

// Hovering
.block__btn--hlt:hover {
    transform: scale(1.2);
}

.block__btn--clear:hover {
    background-color: c.$txt-color-dk;
    color: c.$bg-content-main;
}

.block__btn--clear-dk:hover {
    background-color: c.$hlt-second;
    color: c.$bg-main-dk;
}

// TEXT STYLES

.block__title {
    @include section-title-mbl;
    margin: 0 0 30px;
    text-align: start
}

.block__sub-title {
    @include hlt-txt-mbl;
    margin: 25px 0 0;
}

.block__sub-title--hlt {
    margin: 60px 0 35px;
    text-align: center;
}

.block__txt {
    @include main-txt-mbl;
}

//TABLET WIDTH STYLES

@media (min-width: 768px) {

    .landing-container {
        top: -20px;
        padding-bottom: 100px;
    }

    // BLOCK STYLES
    .block {
        width: 87%;
        padding: 70px 8% 80px;
    }

    // SHOW STYLES

    .block__shows {
        flex-direction: row;
        margin: 40px 0 70px;
    }

    .block__shows--two {
        width: 65.4%;
    }

    .block__show-link {
        // maintaining same width with flex-direction row regardless of an image: grow to 1 and basis to 0
        flex: 1 0 0;
    }

    // BUTTON STYLES

    .block__btn {
        width: 252px;
        height: 67px;
        margin-top: 50px;
        @include btn-txt-dsk;
    }

    .block__btn--hlt {
        margin-top: 80px;
    }

    .block__btn--padded {
        margin-bottom: 40px;
    }

    .block__btn--clear-dk {
        margin-right: 0;
    }

    // TEXT STYLES
    .block__title {
        margin: 0 0 50px;
        @include section-title-dsk;
    }

    .block__sub-title {
        @include hlt-txt-dsk;
    }

    .block__txt {
        @include main-txt-dsk;
    }

    .block__time {
        font-size: 1.375rem;
    }
}

// DESKTOP WIDTH STYLES
@media (min-width: 1024px) {

    .landing-container {
        top: -50px;
        row-gap: 100px;
        padding-bottom: 150px;
    }

    .landing-intro {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 87%;
    }

    // STICKY SOCIAL
    // Created a container with absolute position to keep other elements in place. Other option was to try grid instead of Flexbox for layout of blocks. The stickiy element glides withing the bounds of the container

    .sticky-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 6.5%;
        height: 90%;
    }

    .sticky-social {
        position: sticky;
        top: 20%;
        width: 80%;
        height: 23.5rem;
        color: c.$bg-content-grdt;
        overflow: hidden;
    }

    //STICKY BUTTON COMPONENT
    .sticky-social__btn {
        position: relative;
        z-index: 2; //biggest, the button stays above everything
        @include flex-center-vert;
        border: 3px solid c.$bg-content-grdt;
        border-radius: 15px;
        transition: .3s;
    }

    //toggle class that changes on hover with JS
    .sticky-social__btn--on {
        background-color: c.$bg-content-grdt;
    }

    .sticky-social__img {
        margin-top: 10px;
        width: 50%;
    }

    .sticky-social__text {
        width: 80%;
        margin: 10px 0 15px;
    }

    //hovering styles
    .sticky-social__btn:hover {
        cursor: pointer;
        background-color: c.$bg-content-grdt;
    }

    //Arrow styling with absolute positioning. 
    .sticky-social__arrow {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid c.$bg-content-grdt;
        transition: transform .3s, border-top-color .3s;
        transform: translateY(140%);
    }

    .sticky-social__arrow-fade {
        transition: transform .3s, border-top-color .3s;
        transform: translateY(16.5rem);
        border-top: 0;
        border-bottom: 20px solid c.$bg-content-grdt;
    }

    //STICKY COMPONENT WITH LINKS FOR SHARING
    //Permanent styling for the id
    #sticky-links {
        position: relative;
        z-index: 1; //displays over the drop element not to be covered by it
    }

    //two toggle styles for hidden and visible display
    .sticky-social__list {
        display: none;
    }

    .sticky-social__list--visible {
        @include flex-center-vert;
        gap: 10px;
        padding-top: 10px;
    }

    .sticky-social__link {
        font-size: 2rem;
        transition: transform .3s;
    }

    .sticky-social__link:hover {
        display: inline-block; //adding the property helped activate the scale effect. Before, it was not working
        transform: scale(1.2);
    }

    //THE DROP COMPONENT THAT SLIDES DOWN ON CLICK AND FRAMES THE LINKS
    #sticky-drop {
        position: absolute;
        top: 0;
    }

    .sticky-social__drop--hidden {
        height: 0;
        transition: height .3s linear 0s;
    }

    .sticky-social__drop {
        border: 3px solid c.$bg-content-grdt;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        transition: height .3s linear 0s;
    }

    //BLOCK STYLES

    .block--gradient {
        position: relative;
    }

    .block--narrow {
        width: 47%;
    }

    .block__content {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    // IMAGES

    .block__menu-img {
        display: block;
        float: right;
        width: 350px;
        margin-top: 60px;
        margin-left: 130px;
    }

    .block__mic-img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 38%;
        max-width: 560px;
    }

    .graffiti--landing {
        left: 20px;
        bottom: -170px;
    }

    //TEXT STYLES

    .block__sub-title--hlt {
        width: 75%;
        margin: 110px auto 100px auto;
    }
}

// WIDE SCREEN STYLES

@media (min-width: 1901px) {

    // GRAFFITI

    .graffiti--landing {
        bottom: -200px;
    }
}