@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as *;

//Announcement banner for new location styles

.news-banner {
    background-color: c.$hlt-main;
}

.news-banner__container {
    display: grid;
    grid-template: auto auto 90px / 202px auto;
    justify-items: center;
    align-items: center;
    padding: 15px 5px 10px;
    color: c.$txt-color-lt;
}

.news-banner__title {
    grid-column: 1 / -1;
    @include hlt-txt-mbl;
    font-size: 1.5rem;
}

.news-banner__address {
    justify-self: center;
}

.news-banner__text {
    margin: 0;
    @include main-txt-mbl;
}

.news-banner__text--margin {
    margin-left: 17px;
}

.news-banner__logo {
    width: 100%;
    max-width: 110px;
}

.news-banner__btn {
    grid-column: 1 / -1;
    @include flex-center;
    width: 200px;
    height: 56px;
    @include hlt-txt-mbl;

    border: 2px solid c.$txt-color-lt;
    transition: background-color .2s, color .2s;

    background-color: c.$hlt-main;
    color: c.$txt-color-lt;
}

.news-banner__btn:hover {
    background-color: c.$txt-color-lt;
    color: c.$hlt-main;
}

// TABLET AND DESKTOP WIDTH STYLES

@media (min-width: 768px) {

    .news-banner__container {
        grid-template: auto 100px auto / 50% 50%;
        padding-bottom: 25px;
    }

    .news-banner__title {
        @include hlt-txt-dsk;
    }

    .news-banner__logo {
        max-width: 190px;
    }

    .news-banner__text {
        @include main-txt-dsk;
    }

    .news-banner__btn {
        width: 252px;
        height: 67px;
        @include btn-txt-dsk;
    }
}