.root-section {
  min-width: 300px;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.boxed-icon {
  width: 100%;
}

.header {
  background-color: #2D0042;
}

.header__container {
  position: relative;
  display: grid;
  grid-template: 83px 398px/50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #790069;
}

.header__home {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 68px;
}

.header__menu {
  justify-self: end;
  margin-right: 10%;
}

.header__banner {
  grid-column-end: span 2;
  justify-self: center;
}

.header__social {
  position: absolute;
  bottom: 60px;
  left: 13%;
  width: 74%;
}

.header__social > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__social-link {
  display: block;
  width: 25px;
  height: 25px;
}

@media (min-width: 601px) {
  .header__container {
    grid-template: [header-bar-start] 100px [header-bar-end] auto/1fr [header-social-start] 285px [header-social-end] 1fr;
  }
  .header__logo {
    width: 100px;
  }
  .header__banner {
    grid-column-end: span 3;
  }
  .header__social {
    position: static;
    grid-row: header-bar-start/header-bar-end;
    grid-column: header-social-start/header-social-end;
    width: 100%;
  }
  .header__social-link {
    width: 30px;
    height: 30px;
  }
}
.landing-main {
  background-color: #2D0042;
}

.landing-container,
.landing-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}

.landing-container {
  position: relative;
  padding-bottom: 80px;
}

.block {
  width: 90%;
  padding: 40px 10%;
}

.block--light {
  background-color: #FFAF00;
  color: #2D0042;
}

.block--gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFAF00), to(#FF920A));
  background-image: linear-gradient(#FFAF00, #FF920A);
  color: #2D0042;
}

.block--dark {
  padding-bottom: 120px;
  color: #FFFFFF;
  border: 2px solid #08C0C6;
}

.block--centered {
  text-align: center;
}

.block__menu-img,
.block__mic-img,
.sticky-container {
  display: none;
}

.block__shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 30px 0 40px;
}

.block__show-link {
  line-height: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block__show-img {
  min-width: 100%;
  max-width: 100%;
}

.graffiti {
  position: absolute;
  left: -10px;
  bottom: -110px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 56px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.block__btn--hlt {
  background-color: #D73202;
  color: #FFFFFF;
}

.block__btn--clear {
  border: 2px solid #2D0042;
  color: #2D0042;
}

.block__btn--clear-dk {
  border: 2px solid #08C0C6;
}

.block__title {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.125rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 30px;
  text-align: start;
}

.block__sub-title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin: 25px 0 0;
}

.block__sub-title--hlt {
  margin: 60px 0 35px;
  text-align: center;
}

.block__txt {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

@media (min-width: 601px) {
  .landing-container {
    row-gap: 100px;
    padding-bottom: 200px;
  }
  .landing-intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 87%;
  }
  .sticky-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6.5%;
    height: 90%;
  }
  .sticky-social {
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .sticky__social-link {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 17px;
  }
  .block {
    width: 87%;
    padding: 70px 8%;
  }
  .block--narrow {
    width: 47%;
  }
  .block--gradient {
    position: relative;
  }
  .block__content {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .block__shows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 40px 0 70px;
  }
  .block__shows--two {
    width: 65.4%;
  }
  .block__menu-img {
    display: block;
    float: right;
    width: 350px;
    margin-top: 60px;
    margin-left: 130px;
  }
  .block__mic-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38%;
    max-width: 560px;
  }
  .graffiti {
    bottom: -220px;
  }
  .block__btn {
    width: 252px;
    height: 67px;
    margin-top: 50px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    text-align: center;
  }
  .block__btn--hlt {
    margin-top: 80px;
  }
  .block__btn--padded {
    margin-bottom: 50px;
  }
  .block__btn--clear-dk {
    margin-right: 0;
  }
  .block__title {
    margin: 0 0 50px;
    font-family: "Lobster", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .block__sub-title {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .block__sub-title--hlt {
    width: 75%;
    margin: 110px auto 100px auto;
  }
  .block__txt {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .block__time {
    font-size: 1.5rem;
  }
}
@media (min-width: 1901px) {
  .graffiti {
    bottom: -270px;
  }
}
.footer {
  color: #FFFFFF;
  background-color: #790069;
}

.footer__container {
  padding: 70px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

.footer__social-link {
  display: block;
  width: 30px;
  height: 30px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.footer__list {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}

.footer__list-item {
  margin-bottom: 15px;
}

.footer__icon {
  margin-right: 10px;
}

@media (min-width: 601px) {
  .footer__container {
    padding: 145px 6.5% 70px;
  }
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }
  .footer__title {
    margin-bottom: 35px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.75rem;
  }
  .footer__contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__list {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .footer__list-item {
    margin-bottom: 20px;
  }
  .footer__icon {
    margin-right: 15px;
  }
  .footer__social-links {
    width: 235px;
  }
  .footer__social-link {
    width: 40px;
    height: 40px;
  }
  .footer__logo {
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.copyright {
  padding: 40px 0;
  background-color: #2D0042;
}

.copyright__text {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

@media (min-width: 601px) {
  .copyright__text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
}/*# sourceMappingURL=style.css.map */